@namespace tei "http://www.tei-c.org/ns/1.0";

@font-face {
  font-family: "EVA";
  src: url("EVA2.ttf");
}

line {
  font-family: "EVA", serif;
  font-size: 15pt;
  line-height: 1.2;
  display: block !important;
  visibility: visible !important;
  padding-left: 1em;
}

zone, surface {
    display: block !important;
    visibility: visible !important;
}

surface {
    border-style: solid;
}

figure {
    display: inline;
    font-family: Arial, sans-serif;
}

graphic {
    max-width: 300px;
}

person {
    display: block;
}

note {
    display: inline;
}

note[type="comment"] {
    font-family: Arial, sans-serif;
}

line[rendition="#Pc #Ad"] {
    text-align: center;
}

line[rendition="#Pr #Ad"] {
    text-align: right;
}

line[rendition="#Pt #At"] {
    text-align: right;
}